<button (click)="filtro('todo')" class="btn btn-primary">Todos</button>
<button (click)="filtro('moto')" class="btn btn-primary">Motos</button>
<button (click)="filtro('auto')" class="btn btn-primary">Autos</button>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Year</th>
            <th scope="col">Precio</th>
            <th scope="col">Color</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehiculo of listaVehiculos">
            <th scope="row">{{vehiculo.marca}}</th>
            <td>{{vehiculo.modelo}}</td>
            <td>{{vehiculo.year}}</td>
            <td>{{vehiculo.precio}}</td>
            <td>{{vehiculo.color}}</td>
            <td>
                <button (click)="eliminarElemento(vehiculo.id)" class="btn btn-danger">Eliminar</button>
                <button (click)="encenderElemento(vehiculo)" *ngIf="vehiculo.estado == 'Ok'" class="btn btn-success">Encender</button>
            </td>
        </tr>
    </tbody>
</table>
