<div class="container">
    <div class="row">
        <div *ngIf="activities" class="col-4 container">
            Completadas
            <div *ngFor="let activity of completadas" class="row">
                <div (click)="seleccionar(activity)" class="card" style="width: 18rem; margin: 5px;">
                    <div class="card-body">
                        <h5 class="card-title">{{activity.title}}</h5>
                        <p class="card-text">{{activity.completed}}</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-4">
            No Completadas
            <div *ngFor="let activity of ncompletadas" class="row">
                <div (click)="seleccionar(activity)" class="card" style="width: 18rem; margin: 5px;">
                    <div class="card-body">
                        <h5 class="card-title">{{activity.title}}</h5>
                        <p class="card-text">{{activity.completed}}</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-4">
            <app-activites-detalle *ngIf="activitySeleccionada" [activity]='activitySeleccionada' (nuevobool)="cambiarEstado($event)"></app-activites-detalle>
        </div>
    </div>
</div>