<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Usuario</th>
            <th scope="col">Sitio</th>
            <th scope="col">Telefono</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios">
            <th scope="row">{{usuario.name}}</th>
            <td>{{usuario.username}}</td>
            <td>{{usuario.website}}</td>
            <td>{{usuario.phone}}</td>
            <td>
                <a class="btn btn-success" [routerLink]="['albums',usuario.id]">Ver Albums</a>
                <a class="btn btn-success" [routerLink]="['activities',usuario.id]">Ver Actividades</a>
            </td>
        </tr>
    </tbody>
</table>